html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optionnel mais utile pour gérer les dimensions */
}


body{
    background-color: #0D0D0D ;
    color: white;
}

header {
    padding: 0;
    margin: 0;
    top: 0;  
    left: 0; 
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #2E2E2E;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-top: 2px #2E2E2E solid;

}

header h1 {
    position: inherit;
    font-size: 30px;
    margin-left: 20px;
}

.logo {
    position: inherit;
    margin-top: 6px;
    margin-left: 20px;
    border: 1px #0D0D0D  solid;
    border-radius: 10px;
}

.search-bar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 35px;
    background-color: #0D0D0D ;
    position: absolute;
    width: 450px;
    left: 550px;
    border-radius: 8px;
}
.searchBarIcon {
    margin-left: 10px;
    margin-top: 0px;
    cursor: pointer
}

input[name="searchBar"] {
    flex-grow: 1;
    padding: 10px;
    width: fit-content;
    background-color: #0D0D0D;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
}


.nav {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 100px;
    left: 43px;
    background-color: #2E2E2E;
    width: 60px;
    height: 630px;
    border-radius: 25px;

}

.nav ul{
    padding: 0%;
    list-style:none;
}
.nav li {
    margin-top: 10px;
}

.nav .general {
    margin-top: 30px;
    margin-left: 8px;
}

.nav .params {
    margin-top: 350px;
    margin-left: 8px;
}

/* 3D human */
.fixed-container {
    position: absolute;
    background-color: #2E2E2E;
    top: 115px;
    right: 43px;
    border-radius: 30px;
    height: 80%;
    width: 500px;
    z-index: 1000;
    overflow: hidden;
}

.content {
    position: relative;
    border: 20px white;
    padding: 0;
    width: 820px;
    min-height: 100vh;    
    top: 132px;
    left: 150px;
}

.session {
    position: inherit;
    border: 3px white solid;

}