html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optionnel mais utile pour gérer les dimensions */
}


body{
    background-color: #0D0D0D ;
    color: white;
}

header {
    padding: 0;
    margin: 0;
    top: 0;  
    left: 0; 
    position: absolute;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 10%;
    width: 100%;
    background-color: #2E2E2E;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-top: 2px #2E2E2E solid;

}

header h1 {
    position: inherit;
    font-size: 30px;
    margin-left: 20px;
}

#Rugbynouze {
    text-decoration: none; 
    color: inherit
}

.logo {
    position: inherit;
    margin-top: 6px;
    margin-left: 20px;
    border: 1px #0D0D0D  solid;
    border-radius: 10px;
}

.search-bar{
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #0D0D0D ;
    position: absolute;
    width: 450px;
    left: 550px;
    border-radius: 8px;
}
.searchBarIcon {
    margin-left: 10px;
    margin-top: 0px;
    cursor: pointer
}

input[name="searchBar"] {
    flex-grow: 1;
    padding: 10px;
    width: fit-content;
    background-color: #0D0D0D;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pour espacer les éléments avec l'espace restant */
    align-items: flex-start;

    border: 2px white solid;
    margin: 0;
    padding: 0;
    top: 13.5%;
    left: 2.15%;
    background-color: #2E2E2E;
    width: 4%;
    height: 83%;
    border-radius: 25px;
}

.nav ul {
    padding: 0;
    margin: 0;
    margin-top: 40%;
    list-style: none;
    width: 100%;
}

.nav li {
    border: 2px white solid;
    text-align: center;
    width: 70%;
}



.nav .params {
    margin-top: auto; /* Pousse l'élément vers le bas */
    margin-bottom: 40%;
}


/* 3D human */
.fixed-container {
    position: absolute;
    background-color: #2E2E2E;
    top: 13.5%;
    right: 43px;
    border-radius: 30px;
    height: 83%;
    width: 28%;
    z-index: 1000;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 3px white   solid;
    background-color: #2E2E2E;
    border-radius: 30px;
    width: 57%;
    top: 13.5%;
    left: 9%;
    height: 83%;
    overflow: visible; /* Assurez-vous que le contenu débordant est visible */
}


.session {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #4a4a4a;
    height: 70%;
    width: 89.5%;
    z-index: 1; 
}

.start-stop {
    display: flex;
    position: inherit;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 4%;
    border: 1px white dotted;
    width: 90%;
    height: 23%;
}

#startButton {
    position: inherit;
    background-color: green; 
    color: white;
    margin-left: 2%;
    margin-top: 2%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    width: 30%;
    height: 70%;
}

.last-session {
    border: 1px white dotted;
    border-radius: 10px;
    width: 90%;
    float: bottom;
    margin-left: 5%;
    height: 57%;
    margin-top: 20%;
}

.statistics {
    border: 3px white solid;
    display: flex; 
    gap: 2%;
    justify-content: space-around; 
    align-items: center;
    height: 30%;
}



.box {
    background-color: #4a4a4a;
    border-radius: 20px;
    border: white 2px solid;
    height: 70%;
}



#control-panel {
    position: absolute;
    display : flex;
    justify-content: center;
    align-items: center;

    left: 20%;
    top: 20%;
}

.sensor-selection{
    position: absolute;
    display : flex;
    justify-content: center;
    align-items: center;

    left: 10%;
    top: 15%;  
}

.data-table {
    position: absolute;


    left: 20%;
    top: 20%;
    width: 70%;
    border: 1px white ;
}

#tableHeader {
    border: 3px white solid;
}

#dataBody {
    border: 3px white solid;
    padding: 2px;
}

#dataBody tr {
    border: 1px white solid;

}