<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Database</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a  id="Rugbynouze" href="index.html">
            <h1>RUGBYNOUZE</h1>
        </a>
        <!-- Logo -->
            <!-- <img src="/static/Images/logo.jpg" alt="logo" class="logo" draggable="false"> -->
        <!-- Search Bar -->
        <div class="search-bar">
            <img src="/static/Images/search.jpg" alt="search bar"  class="searchBarIcon" draggable="false" id="searchIcon">
            <input type="text" name="searchBar" placeholder="Search" id="searchInput">
        </div>
    </header>

    <div class="nav">
        <div class="general">
            <ul>
                <li>                    
                    <a href="index.html">
                        <img src="/static/Images/House.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="database.html">
                        <img src="/static/Images/Database.jpg" alt="">
                    </a>
                </li>
                <li>                    
                    <a href="session.html">
                        <img src="/static/Images/run.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="commotion.html">
                        <img src="/static/Images/risk.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="params">
            <ul>
                <li>
                    <a href="parameters.html">
                        <img src="/static/Images/parameters.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <script src="../static/js/app.py"></script>
</body>
</html>
