<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="parameters.html">Parameters</a></li>
        </ul>
    </div>

    <header id="session-container">
        <h1>Dashboard</h1>

        <button id="start-button" class="start-button" onclick="startDataCollection()">Start</button>
        <button id="stop-button" class="stop-button" onclick="stopDataCollection()">Stop</button>
    </header>

    <script src="../static/js/app.js"></script>

</body>
</html>