<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Database</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="parameters.html">Parameters</a></li>
        </ul>
    </div>

    <header>
        <div class="sensor-selection">
            <select id="sensor-select" class="sensor-select" onchange="updateTableColumns()">
                <option value="BNO055_head">Head_BNO055</option>
                <option value="BNO055_chest">Chest_BNO055</option>
                <option value="BNO055_right_leg">RightLeg_BNO055</option>
                <option value="BNO055_left_leg">LeftLeg_BNO055</option>
                <option value="MAX30102">MAX30102</option>
                <option value="BMP280">BMP280</option>
            </select>
        </div>
    </header>

    <table class="data-table">
        <thead>
            <tr id="table-header">
                <!-- Les colonnes seront insérées dynamiquement avec JavaScript -->
            </tr>
        </thead>
        <tbody id="dataBody">
            <!-- Les données seront insérées dynamiquement avec JavaScript -->
        </tbody>
    </table>


    <script src="../static/js/app.js"></script>
</body>
</html>

