<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Database</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a  id="Rugbynouze" href="index.html">
            <h1>RUGBYNOUZE</h1>
        </a>
        <!-- Logo -->
            <!-- <img src="/static/Images/logo.jpg" alt="logo" class="logo" draggable="false"> -->
        <!-- Search Bar -->
        <div class="search-bar">
            <img src="/static/Images/search.jpg" alt="search bar"  class="searchBarIcon" draggable="false" id="searchIcon">
            <input type="text" name="searchBar" placeholder="Search" id="searchInput">
        </div>
    </header>
    <div class="nav">
        <div class="general">
            <ul>
                <li>                    
                    <a href="index.html">
                        <img src="/static/Images/House.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="database.html">
                        <img src="/static/Images/Database.jpg" alt="">
                    </a>
                </li>
                <li>                    
                    <a href="session.html">
                        <img src="/static/Images/run.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="commotion.html">
                        <img src="/static/Images/risk.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="params">
            <ul>
                <li>
                    <a href="parameters.html">
                        <img src="/static/Images/parameters.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sensor-selection">
        <select id="sensor-select" class="sensor-select" onchange="updateTableColumns()">
            <option value="sessions">Sessions</option>
            <option value="BNO055_head">Head BNO055</option>
            <option value="BNO055_chest">Chest BNO055</option>
            <option value="BNO055_right_leg">Right Leg BNO055</option>
            <option value="BNO055_left_leg">Left Leg BNO055</option>
            <option value="MAX30102">MAX30102</option>
            <option value="BMP280">BMP280</option>
        </select>
        <select id="data-type" class="data-type" onchange="updateTableColumns()"> 
            <option value="raw">Raw</option>
            <option value="transformed">Transformed</option>
        </select>
    </div>

    <table class="data-table">
        <thead>
            <tr id="tableHeader">
                <!-- Les colonnes seront insérées dynamiquement avec JavaScript -->
            </tr>
        </thead>
        <tbody id="dataBody">
            <!-- Les données seront insérées dynamiquement avec JavaScript -->
        </tbody>
    </table>


    <script src="../static/js/database.js"></script>
</body>
</html>

