<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
</head>
<body>
    <header>
        <h1>RUGBYNOUZE</h1>
        <!-- Logo -->
            <!-- <img src="/static/Images/logo.jpg" alt="logo" class="logo" draggable="false"> -->
        <!-- Search Bar -->
        <div class="search-bar">
            <img src="/static/Images/search.jpg" alt="search bar"  class="searchBarIcon" draggable="false" id="searchIcon">
            <input type="text" name="searchBar" placeholder="Search" id="searchInput">
        </div>
    </header>


    <div class="nav">
        <div class="general">
            <ul>
                <li>                    
                    <a href="index.html">
                        <img src="/static/Images/House.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="database.html">
                        <img src="/static/Images/Database.jpg" alt="">
                    </a>
                </li>
                <li>                    
                    <a href="session.html">
                        <img src="/static/Images/run.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="commotion.html">
                        <img src="/static/Images/risk.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="params">
            <ul>
                <li>
                    <a href="parameters.html">
                        <img src="/static/Images/parameters.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="content">
        <div class="session">
            <div class="start-stop">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Vero, distinctio?</p>
            </div>
            <div class="last-session">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero, distinctio?</p>
            </div>
        </div>
        <div class="statistics">
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero, distinctio?</p>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero, distinctio?</p>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero, distinctio?</p>
            </div>
        </div>
    </div>

    <div class="fixed-container"></div>



    <div style="margin-top:1000px"></div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, illum nam nesciunt distinctio id odit. 
        Consequuntur magnam harum doloribus? Saepe cumque voluptatibus magni iste facere adipisci voluptates ipsa possimus aut.
    </div>

    <script src="../static/js/app.js"></script>
</body>
</html>